.series-toc {
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  summary {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(229, 229, 229);
    padding: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
  }
  #SeriesToc {
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    ul {
      margin: 0px;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      list-style-type: none;
      li {
        margin: 0px;
        margin-bottom: 0.5rem;
        color: rgb(64, 64, 64);
        a {
          text-decoration-line: none;
          color: rgb(64, 64, 64);
          &:hover {
            text-decoration-line: underline;
            color: rgb(23, 23, 23);
            text-decoration-color: rgb(23, 23, 23);
          }
        }
     }
    }
  }
}

.dark {
  summary {
    color: rgb(229, 229, 229);
    background-color: rgb(82, 82, 82);
  }
  #SeriesToc {
    background-color: rgb(64, 64, 64);
    ul {
      li {
        color: rgb(229, 229, 229);
        a {
          color: rgb(229, 229, 229);
          &:hover {
            color: rgb(250, 250, 250);
            text-decoration-color: rgb(250, 250, 250);
          }
        }
      }
    }
  }
}
